.dhaka{
    font-size: 30px;
    font-style: italic;
    color: brown;
    background-color: aqua;
}
.dream{
    font: bold;
    font-size: 25px;
    background-color: yellowgreen;
    border: 1px solid red;
    border-radius: 20px;
    width: 20%;
    height: 50%;
    border-radius: 30px;
    margin: 1%;
    padding: 30px 50px;
    display: inline-block;
}
h3{
    text-align: center;
}
.special-effect:hover{
    color: indianred;
    font-size: 60px;
    background-color: lawngreen;
}
input:focus{
    font-weight: 300px;
    font-size: 25px;
    color: green;
}
li:nth-child(2n+1){
    color: red;
    font-size: 20px;
}
a:visited{
    color: green ;
}
h1::before{
    content: " Hello ";
    font-size: 40px;
    color: crimson;
}